:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao: #167BF7;
    --cor-de-fundo: #00030C;

    --fonte-principal: 'inter';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);

    font-size: 16px;
    font-family: 'inter';
    font-weight: 400;
}

.principal {
    background-image: url('./img/Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__botao {
    padding: 1em;
    border-radius: 5px;
    color: var(--branco-principal);
    background-color: var(--botao);
    display: block;
    text-decoration: none;
    margin: 0 0 1em 0;
}

.botao_secundario {
    background-color: transparent;
    border: 1px solid var(--cinza-secundario);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__caixa{
    margin: 0 6em;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__secundario__imagem {
    width: 80%;
}

.secundario {
    margin: 0 8rem;
    align-items: center;
}

.container__descricao{
    margin-right: 2em;
}
.container__descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.2em;
}

p.container__descricao__texto {
    color: var(--cinza-secundario);
    font-size: 12px;

}

.secundario__texto {
    margin-bottom: 1em;
}

p.secundario__texto3 {
    margin: 0;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.images {
    width: 80%;
}
section.footer{
    display: flex;
    flex-direction: column;
}

.footer h2{
    font-size: 2.5em;
    font-family: var(--fonte-principal);
    padding: 1rem 0;
    font-weight: bold;
}

div.container__cards {
    display: flex;
    margin-bottom: 1rem;
}

.container__card {
    text-align: center;
    font-weight: 700;
}

.container__card img {
    width: 340px;
    height: 190px;
}

.legenda {
    font-size: 1.5rem;
}
.logo {
    padding: 1rem 0;
    margin: 1rem 0;
    width: 76px;
}

.links__footer {
    padding: 2em 0;
    font-size: .7rem;
    width: 100%;
    text-align: center;
}

.links__footer a{
    text-decoration: none;
    color: var(--branco-principal);
    margin: 0.8rem 1rem;
}
.links__footer a:hover{
    color: var(--botao);
}

.links__footer a:active{
    color: purple;
}



div.direitosReservados {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 16px;
}
.texto__footer {
    text-align: center;
}