:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao: #167BF7;
    --cor-de-fundo: #00030C;

    --fonte-principal: 'inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);

    font-size: 16px;
    font-family: 'inter';
    font-weight: 400;
}

.principal {
    background-image: url('./img/Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__botao {
    padding: 1em;
    border-radius: 5px;
    color: var(--branco-principal);
    background-color: var(--botao);
    display: block;
    text-decoration: none;
    margin: 0 0 1em 0;
}

.botao_secundario {
    background-color: transparent;
    border: 1px solid var(--cinza-secundario);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__caixa{
    margin: 0 6em;
}

.container__imagem{
    margin: 1em 0 2em 0;
}
