.carrossel__titulo{
    font-size: 1.3rem;
    font-family: var(--fonte-principal);
    font-weight: 700;
    color: var(--cor-laranja);
    background-color: var(--cor-branca);
    padding: 1rem 0.5rem;
    text-align: center;
    text-transform: uppercase;
}

.titulo_2 {
    padding: 1rem 0 0.5rem 0;
}
.swiper-slide img {
    width: 100%;
}


.swiper-button-prev,
.swiper-button-next,
.swiper-scrollbar {
    display: none;
}

.swiper-pagination {
    position: initial;
    padding: 1rem 0rem 0.5rem 0rem;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1rem; 
    padding: 1rem ;
}

.card__descricao {
    display: flex;
}

.descricao {
    margin-right: 1rem;
}

.descricao__estrelinhas {
    margin: 0 0 8px 0;
}


.descricao__titulo {
    color: var(--cor-laranja);
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.descricao__titulo-livro {
    color: var(--cor-titulo-livros);
    font-weight: 700;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.descricao__texto {
    font-size: 1rem;
    
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0 0;
}

.botoes {
    display: flex;
    gap: 1rem;
}

.botao__ancora{
    background-color: var(--cor-laranja);
    color: #FFFFFF;
    padding: .8rem 0;
    width: 160px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-family: var(--fonte-principal);
}

.descricao__img{
    width: 160px;
    height: 170px;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 1.625rem;
        padding: 2rem 0 1rem 0;
    }

    .swiper-pagination {
        margin: 1rem 0 3rem 0;
    }

    .swiper{
        width: 80%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 60%;
        margin: 2rem auto;
    }

    .descricao {
        width: 100%;
        margin: 1rem 4rem 0 0;
    }

    .descricao__titulo{
        font-size: 1.2rem;
    }
    
    .descricao__titulo-livro,
    .descricao__texto {
       font-size: 1.5rem;
    }

    .botoes {
        width: 60%;
    }

}

@media screen and (min-width: 1728px) {
    .carrossel-card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        padding: 2rem 10rem;
    }

    .card {
        width: 100%;
        padding: 1.5rem;
    }

    .descricao__titulo {
        font-size: 1.8rem;
    }

    .card__botoes {
        padding: .5rem 0;
    }

    .botoes {
        align-items: center;
    }

    .swiper {
        padding: 0 0 1.2rem 0 ;
    }

    .swiper-wrapper {
        display: flex;
        align-items: center;
        width: 60%;
        padding: 0 0 1rem 0;
    }

    .swiper-pagination {
        padding: 1rem 0 1.8rem 0;
        margin: 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 50%;
    }
}