@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("./reset.css");
@import url("./header.css");



:root{

    --fonte-calistoga:  font-family: 'Raleway', sans-serif;
    --fonte-raleway: font-family: 'Raleway', sans-serif;

    --background-verao: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
    --cor-branco: #FFFFFF;
    --cor-azul-claro: #C8DEEF;
    --cor-amarelo: #FACF9D;
    --cor-amarelo-claro: #FBF0DD;
    --cor-azul-escuro: #2E7BA2;
    --cor-mostarda: #DF9010;
}