* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    
}

body {
    background-color: black;
}

header {
    text-align: center;
    border-bottom: 1px solid #FFFF;
    margin-bottom: 2em;
}

.container {
    color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin: 1em 0;
}

.container__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
    padding: 2rem;
    border: 2px solid #FFFF;
    border-radius: 0.4rem;

}

.container__formulario__titulo{
    text-align: center;
    line-height: 24px;
    font-size: 1.5rem;
    margin: -1rem 0 0 0;


}

.container__formulario_label {
    display: flex;
    justify-content: space-between;
    
}

div label input {
    width: 50%;
    height: 30px;
}

.container__formulario__botao {
    display: inline-block;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border-radius: 0.3rem;
    align-self: flex-end;
}

#resposta {
    text-align: center;
}

#blocoResposta2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputResposta {
    display: block;
    margin: 10px 0;
    width: 50%;
}

#btn:hover, #btn2:hover, #btn:focus, #btn2:focus {
    background-color: transparent;
    color: #FFFF;
    border: 1px solid #FFFF;
    font-size: 18px;
    font-weight: 900;
}

.feedback {
    text-align: center;
}